.ipynb_checkpoints/allenCCF_render-checkpoint.ipynb
.ipynb_checkpoints/autobahn_makeNWB_3593-checkpoint.ipynb
.ipynb_checkpoints/autobahn_makeNWB_all2022exps-checkpoint.ipynb
.ipynb_checkpoints/autobahn_stimulus_check-checkpoint.ipynb
.ipynb_checkpoints/bmtk_v1-checkpoint.ipynb
.ipynb_checkpoints/build_nodes-checkpoint.ipynb
.ipynb_checkpoints/ccg_jittering-checkpoint.ipynb
.ipynb_checkpoints/clamp_ingestion-checkpoint.ipynb
.ipynb_checkpoints/clamp_sandbox_CU-checkpoint.ipynb
.ipynb_checkpoints/clamp_sandbox-checkpoint.ipynb
.ipynb_checkpoints/composite_images-checkpoint.ipynb
.ipynb_checkpoints/dailey_phy_munging-checkpoint.ipynb
.ipynb_checkpoints/dailey_sandbox-checkpoint.ipynb
.ipynb_checkpoints/electrical_stimulation_NS20006_2-checkpoint.ipynb
.ipynb_checkpoints/electrical_stimulation_NS20006-checkpoint.ipynb
.ipynb_checkpoints/electrical_stimulation_NS20006-checkpoint.ipynb 2
.ipynb_checkpoints/jGCaMP_sandbox-checkpoint.ipynb
.ipynb_checkpoints/M310008_08-23-22_analysis-checkpoint.ipynb
.ipynb_checkpoints/NetworkBuilder_Intro-checkpoint.ipynb
.ipynb_checkpoints/neuropixels_introNWB-checkpoint.ipynb
.ipynb_checkpoints/RFA_NS_20_006-checkpoint.ipynb
.ipynb_checkpoints/sorting_quality_M310008_2017-04-13_07-35-06-checkpoint.ipynb
.ipynb_checkpoints/spikeGLX_nidaq-checkpoint.ipynb
.ipynb_checkpoints/StefanoPerniFacTalk-checkpoint.txt
.ipynb_checkpoints/temporal2_CCGs-checkpoint.ipynb
.ipynb_checkpoints/temporal2_decoding-checkpoint.ipynb
.ipynb_checkpoints/temporal2_topology-checkpoint.ipynb
.ipynb_checkpoints/Untitled-checkpoint.ipynb
.ipynb_checkpoints/Untitled1-checkpoint.ipynb
.ipynb_checkpoints/Untitled2-checkpoint.ipynb
.ipynb_checkpoints/Untitled3-checkpoint.ipynb
.ipynb_checkpoints/Untitled4-checkpoint.ipynb
.ipynb_checkpoints/Untitled5-checkpoint.ipynb
.ipynb_checkpoints/UVprojector2_luminanceMeasures-checkpoint.ipynb
.DS_Store
